@import '../common/index.less';

.cat-btn {
  font-family: PingFangSC-Semibold;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  color: @content;
  padding: 0rpx 36rpx;
  margin: 0;
  font-size: 24rpx;
  text-decoration: none;
  border-radius: @squareBorder;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(200,200,200,.2);
  background-color: #eee;
  &:active {
    background-color: #e9eaec;
  }
}
.cat-btn__circle {
  border-radius: @circleBorder;
}
.cat-btn__primary {
  color: #fff;
  background-color: @theme;
  background: linear-gradient(to bottom right, #21C3A8 32%, #1AB2C0 100%);
  &:active {
    background-color: @theme_hover;
  }
}
.cat-btn__success {
  color: #fff;
  background-color: @success;
  &:active {
    background-color: @success_hover;
  }
}
.cat-btn__danger {
  color: #fff;
  background-color: @danger;
  &:active {
    background-color: @danger_hover;
  }
}
.cat-btn__warning {
  color: #fff;
  background-color: @warning;
  &:active {
    background-color: @warning_hover;
  }
}
.cat-btn__small {
  padding: 0rpx 30rpx;
  font-size: 24rpx;
  &.cat-btn__circle {
    border-radius: 32rpx;
  }
}
.cat-btn__large {
  padding: 16rpx 30rpx;
  font-size: 36rpx;
}
.cat-btn__is-block {
  display: block;
}
.cat-btn__is-disabled {
  background-color: @theme_hover;
  color: #fff;
}