@import '../../utils/global.less';
.guide-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #fff;
  .main {
    flex: 1;
    display: flex;
    padding-top: 120rpx;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 80rpx;
      font-weight: 800;
      color: #666;
    }
    .logo {
      width: 120rpx;
      height: 180rpx;
    }
    .tips {
      color: #999;
      font-size: 28rpx;
      margin-top: 20rpx;
    }
  }
  .footer {
    text-align: center;
    height: 200rpx;
  }
}