@import '../common/index.less';

.cat-panel {
  font-family: PingFangSC-Semibold;
  position: relative;
  width: 100%;
  overflow: hidden;
  color: @content;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1rpx solid #f6f6f6;
  padding-bottom: 56rpx;
}
.cat-panel_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20rpx 10rpx 20rpx;
}
.cat-panel-title {
  flex-grow: 1;
  font-weight: 600;
  font-size: 36rpx;
}
.cat-panel-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 28rpx;
  color: #9B9B9B;
  &:active {
    color: @disabled;
  }
}
.text-line-through {
  text-decoration: line-through;
  color: @disabled;
}
.cat-panel_body {
  box-sizing: border-box;
  // padding: 30rpx 30rpx 10rpx 30rpx;
}
.no-border {
  border: none;
}
.no-background {
  background-color: none;
}
.no-padding {
  padding: 0;
}